.saving {
    border-radius: 0;
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid rgba(128, 128, 128, 0.342);
    cursor: not-allowed;
}

.saving:hover {
    background-color: transparent;
}

.saved {
    background-color: #4CAF50;
    cursor: not-allowed;
    pointer-events: none;
    transition: all 2s;
}
.saved:hover{
    background-color: #4CAF50;
}

.saved-confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-confirmation p{
    margin: 0;
    margin-left: 15px;
}

#add-group .btn {
    margin-top: 0;
}

.btn-container {
    position: relative;
    margin-top: 20px;
    height: min-content;
    transition: all 2s;
}

.line-btn {
    top: 0;
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #4CAF50;
    z-index: 2;
    animation: lineAnimation 2s linear infinite;
}


.line-bottom-btn {
    right: 0;
    bottom: 0;
    transform-origin: bottom;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #4CAF50;
    z-index: 2;
    animation: lineAnimation4 2s linear infinite;
}

#add-group .check-icon{
    height: 30px;
    fill: white;
    transition: fill 2s ease;
    margin-top: 0;
}

@keyframes lineAnimation {
    0% {
        transform: translateX(0);
        opacity: 0;
        width: 0%;
    }
    25% {
        transform: translateX(50%);
        opacity: 1;
    }
    50% {
        transform: translateX(75%);
        opacity: 1;
    }
    75% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes lineAnimation4 {
    0% {
        transform: translateX(0);
        opacity: 0;
        width: 0%;
    }
    25% {
        transform: translateX(-50%);
        opacity: 1;
    }
    50% {
        transform: translateX(-75%);
        opacity: 1;
    }
    75% {
        transform: translateX(-100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}