.to-dos-container {
    flex: 1;
    margin-top: 32px;
    padding: 40px;
    border: 1px solid #dddddd;
    border-radius: 15px;
    overflow-y: auto;
}

.to-dos-container p{
    text-align: center;
}