.to-do {
    display: inline-block;
    margin: 15px;
    height: min-content;
    width: 210px;
    padding: 25px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.to-do p {
    margin: 0;
    display: flex;
    justify-content: start;
}

.separator {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.25;
    border-bottom: 1px solid grey;
}

.actions {
    display: flex;
    gap: 20px;
}

.action-icon-container {
    display: flex;
    border: 3px solid rgba(128, 128, 128, 0.185);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 6px;
    cursor: pointer;
}
