.sidebar {
    flex: 1;
    background-color: #F4F4F4;
    margin: 15px;
    border-radius: 15px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    color: #FE6053;
}