.sidebar {
    flex: 1;
    background-color: #F4F4F4;
    margin: 15px;
    border-radius: 15px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
}

.header-sidebar {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.header-sidebar h1 {
    font-size: 48px;
    margin: 0;
}

.logo {
    height: 48px;
    margin-right: 12px;
}