.sidebar {
    flex: 1;
    background-color: #F4F4F4;
    margin: 15px;
    border-radius: 15px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    text-align: center;
}

.sidebar h2 {
    color: #FE6053;
}

.user-icon {
    height: 40px;
}

.user-container {
    margin-top: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 1px #c9c9c9 solid;
}

.user-container h2 {
    margin: 0;
    margin-left: 12px;
}

.info-user {
    display: flex;
    flex-direction: column;
}

.info-user p {
    margin: 0;
    margin-left: 12px;
    opacity: 0.6;
}

.groups {
    margin-bottom: 35px;
}

.btn-add-a-group{
    display: flex;
    margin-bottom: 25px;
}

.btn-add-a-group h3{
    margin: 0;
}

.add-a-group{
    margin-left: auto;
    height: 25px;
    cursor: pointer;
}

.title-group-container {
    padding: 10px 25px;
    cursor: pointer;
}

.selected {
    border-radius: 8px;
    background-color: #EAEAEA;
}

.sign-out-option {
    margin-top: auto;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.sign-out-option p {
    margin-top: 0;
    margin-left: 8px;
}

.logout-icon {
    height: 16px;
}