.groups {
    margin-bottom: 35px;
    text-align: center;
    min-height: 40%;
    overflow-y: auto;
}

.btn-add-a-group{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.btn-add-a-group h3{
    margin: 0;
}

.add-a-group{
    margin-left: auto;
    margin-right: 25px;
    height: 25px;
    cursor: pointer;
}

.title-group-container {
    padding: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.title-group-container p{
    margin: 0;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.selected {
    border-radius: 8px;
    background-color: #EAEAEA;
}

.logo-in-title{
    height: 28px;
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}