.App {
    display: flex;
    position: relative;
    height: 100vh;
    color: #4E6E96;
    overflow-x: hidden;
}

.btn {
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 35px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}

label {
    font-size: 18px;
}

input {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #80808094;
    border-radius: 4px;
    color: #4E6E96;
    box-sizing: border-box;
    outline-color: #4E6E96;
    border-color: #4E6E96;
}

.btn:disabled,
.btn:disabled:hover {
    background-color: transparent;
    border: 2px solid rgba(128, 128, 128, 0.342);
    color: gray;
    cursor: not-allowed;
}

.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4e6e966e;
    z-index: 1;
}

.form {
    position: relative;
    border-radius: 7px;
    max-width: 300px;
    width: 100%;
    max-height: 204px;
    padding: 30px;
    background-color: white;
}

.form .btn-green {
    width: 100%;
}

.close-icon-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 12px;
    margin-right: 12px;
    background-color: #FE6053;
    border-radius: 100%;
    padding: 2px;
}

.form .xmark-icon {
    height: 25px;
    cursor: pointer;
    fill: white;
}

.title-form {
    font-size: 20px;
    font-weight: 600;
}